/* Import Fonts  */

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* ========================
 RESET & DEFAULTS
 ======================== */

/* Universal Selector & Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

:root {
    --darkgreen: #436152;
    --darkyellow: rgb(151, 112, 53);
}

/* ========================
 TYPOGRAPHY
 ======================== */

/* Element Selectors */

body {
    font-family: "Kanit", sans-serif;
    line-height: 1.8;
    background-color: white;
}

h1 {
    color: black;
    font-size: 32px;
}

h2 {
    color: rgb(151, 112, 53);
    font-size: 24px;
}

h3 {
    color: dimgray;
    font-size: 19px;
}

h4 {
    color: grey;
    font-size: 16px;
}

p {
    color: rgb(24, 29, 39);
    line-height: 1.8;
    font-size: 1rem;
}

a {
    color: var(--darkgreen);
    text-decoration: none;
}

menu {
    transition: all 0.3s ease;
}

button {
    transition: all 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========================
 LAYOUT & CONTAINERS
 ======================== */

/* Class Selectors */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 5vw;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* text-shadow: 2px 2px 4px greenyellow; */
    padding: 60px 20px;
    color: white;
    font-size: 2rem;
    background-image: url(../images/coffee-cup-bg.png);
    /* background-color: #B0CE88; */
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;
    transition: all 0.3s ease;
    width: 30%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.btn {
    display: inline-flex;
    padding: 1rem;
    transition: all 0.3s ease;
}

.section {
    margin: 1rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}

.back-to-top {
    display: flex;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 50;
    transition: all 0.3s ease;

    .container {
        padding: 0;
        margin: 0;

        .back-to-top-box {

            button {
                background: none;
                border: none;
                box-shadow: none;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 7rem;
                    height: 3rem;
                    color: var(--darkgreen);
                    font-weight: bold;
                    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
                    background-color: white;
                    border-radius: 10px;
                }

                .btn:hover {
                    background-color: whitesmoke;
                    color: darkolivegreen;
                    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
                    transform: translateY(0px);
                }
            }
        }
    }
}

.service-card {
    flex: 1;
    min-width: 300px;
}

.team-member {
    display: grid;
    transition: all 0.3s ease;
    width: 30%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.header-navigation {
    background-color: white;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);

    menu {
        display: flex;
        justify-content: center;
        height: 60px;

        nav {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .logo-center {
                display: flex;
                align-items: center;

                .logo-img {
                    display: flex;

                    img {
                        width: 50px;
                    }
                }
            }

            li {
                display: inline-flex;
                margin: 0 1rem;
            }
        }
    }

    menu:hover {
        transform: translateY(0);
    }
}

/* ID Selector */

#header {}

#footer {}

#hero-section {

    .hero {
        position: relative;
        height: 600px;

        .container {
            display: flex;
            justify-content: center;

            .hero-img-box {
                position: relative;
                width: 50%;

                .hero-wrapper-text {
                    position: relative;
                    top: 30%;
                    display: flex;
                    justify-content: center;

                    .container {
                        display: flex;
                        justify-content: center;

                        .hero-text {
                            h1 {
                                span {
                                    color: #436152;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }

                .hero-img-smoke {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 3rem;

                    img {
                        width: 10%;
                    }
                }

                .hero-img-cup {
                    position: relative;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 40%;
                    }
                }

                .hero-img-shadow {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    bottom: 5.7rem;
                    z-index: 0;

                    img {
                        width: 40%;
                    }
                }

                .hero-wrapper-farmer {
                    position: relative;
                    top: 27%;
                    right: 35%;

                    .container {

                        .hero-box-famer {

                            .hero-text-famer {
                                text-align: right;
                                box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
                                padding-right: 2.5rem;
                                width: 16rem;
                                background-color: white;

                                h2 {
                                    font-weight: 400;
                                }
                            }

                        }
                    }

                    .hero-img-famer {
                        position: relative;
                        right: 2rem;
                        top: 2rem;

                        img {
                            width: 60%;
                            border-radius: 50%;

                        }
                    }
                }

                .hero-wrapper-nature {
                    position: relative;
                    top: 15%;
                    left: 60%;

                    .container {

                        .hero-box-nature {

                            .hero-text-nature {
                                text-align: left;
                                box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
                                padding-left: 3rem;
                                width: 16rem;
                                background-color: white;

                                h2 {
                                    font-weight: 400;
                                }
                            }

                        }
                    }

                    .hero-img-nature {
                        position: relative;
                        right: 19rem;
                        top: 3rem;

                        img {
                            width: 60%;
                            border-radius: 50%;

                        }
                    }
                }

                .hero-wrapper-planet {
                    position: relative;
                    bottom: 17%;
                    left: 60%;

                    .container {

                        .hero-box-planet {

                            .hero-text-planet {
                                text-align: left;
                                box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
                                padding-left: 3rem;
                                width: 16rem;
                                background-color: white;

                                h2 {
                                    font-weight: 400;
                                }
                            }

                        }
                    }

                    .hero-img-planet {
                        position: relative;
                        right: 19rem;
                        bottom: 1rem;

                        img {
                            width: 60%;
                            border-radius: 50%;

                        }
                    }
                }

                .hero-wrapper-everyone {
                    position: relative;
                    bottom: 35%;
                    right: 40%;

                    .container {

                        .hero-box-everyone {

                            .hero-text-everyone {
                                text-align: right;
                                box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
                                padding-right: 3rem;
                                width: 16rem;
                                background-color: white;

                                h2 {
                                    font-weight: 400;
                                }
                            }

                        }
                    }

                    .hero-img-everyone {
                        position: relative;
                        right: 2.5rem;
                        bottom: 2rem;

                        img {
                            width: 60%;
                            border-radius: 50%;

                        }
                    }
                }
            }
        }
    }
}

#featured-section {
    background-image: url(../images/background-factory.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    background-color: rgb(248, 249, 248);

    .container {

        .feature-header-box {
            display: flex;
            justify-content: center;

            .feature-header-text {
                h2 {
                    color: var(--darkgreen);
                }
            }
        }

        .feature-btn-box {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;

            .product-box {
                display: inline-flex;
                width: 10rem;

                .product-btn {

                    .product-btn-img {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 60%;
                            margin-left: 1rem;
                        }
                    }

                    .product-btn-text {
                        display: flex;
                        justify-content: center;

                        a {
                            color: var(--darkyellow);
                        }
                    }
                }
            }

            .banquet-box {
                display: inline-flex;
                width: 10rem;

                .banquet-btn {

                    .banquet-btn-img {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 60%;
                            margin-left: 1rem;
                        }
                    }

                    .banquet-btn-text {
                        display: flex;
                        justify-content: center;

                        a {
                            color: var(--darkyellow);
                        }
                    }
                }
            }

            .join-us-box {
                display: inline-flex;
                width: 10rem;

                .join-us-btn {

                    .join-us-btn-img {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 60%;
                        }
                    }

                    .join-us-btn-text {
                        display: flex;
                        justify-content: center;

                        a {
                            color: var(--darkyellow);
                        }
                    }
                }
            }
        }
    }
}

/* Pseudo-class */

a:hover {
    color: darkolivegreen;
    text-decoration: underline;
}

menu:hover,
button:hover,
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

li:first-child {
    margin-top: 1rem;
}

li:last-child {
    margin-bottom: 1rem;
}

li:nth-child() {
    background-color: gainsboro;
}

header:hover {
    transform: translateY(-2px);
}

.btn:hover {
    background-color: gainsboro;
    transform: translateY(-2px);
}

.back-to-top:hover {
    transform: translateY(-2px);
}


/* ========================
 COMPONENTS (HEADER, NAV, CARD, etc.)
 ======================== */

header {
    text-transform: uppercase;
    /* border-bottom: 2px solid black; */
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease;
}

nav {
    padding: 15px 20px;
    margin: 1rem;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    padding: 30px 20px;
    margin-top: 1rem;
    background-color: #043915;
}

form {
    display: flex;
    /* flex-direction: column; */
}

/* ========================
 RESPONSIVE / MEDIA QUERIES
 ======================== */


/* -------------------------- max-width: 780px ------------------------------------------------------------------------ */

@media screen and (max-width: 780px) {

    #hero-section {

        .hero {
            height: 400px;

            .container {

                .hero-img-box {

                    .hero-wrapper-text {
                        top: 30%;

                        .container {

                            .hero-text {
                                h1 {
                                    span {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }

                    .hero-img-smoke {
                        top: -1%;
                    }

                    .hero-img-cup {
                        bottom: 3%;
                    }

                    .hero-img-shadow {
                        bottom: 7.5%;
                    }

                    .hero-wrapper-farmer {
                        top: 25%;
                        right: 48%;

                        .container {

                            .hero-box-famer {

                                .hero-text-famer {
                                    width: 12rem;

                                    h2 {
                                        font-size: 1rem;
                                    }

                                    p {
                                        font-size: 0.7rem;
                                    }
                                }

                            }
                        }

                        .hero-img-famer {
                            right: 2rem;
                            top: 1rem;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .hero-wrapper-nature {
                        top: 10%;
                        left: 65%;

                        .container {

                            .hero-box-nature {

                                .hero-text-nature {
                                    width: 12rem;

                                    h2 {
                                        font-size: 1rem;
                                    }

                                    p {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                        }

                        .hero-img-nature {
                            right: 13rem;
                            top: 2rem;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .hero-wrapper-planet {
                        bottom: 20%;
                        left: 67%;

                        .container {

                            .hero-box-planet {

                                .hero-text-planet {
                                    width: 12rem;

                                    h2 {
                                        font-size: 1rem;
                                    }

                                    p {
                                        font-size: 0.7rem;
                                    }
                                }

                            }
                        }

                        .hero-img-planet {
                            right: 13rem;
                            bottom: 1rem;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .hero-wrapper-everyone {
                        bottom: 35%;
                        right: 52%;

                        .container {

                            .hero-box-everyone {

                                .hero-text-everyone {
                                    width: 12rem;

                                    h2 {
                                        font-size: 1rem;
                                    }

                                    p {
                                        font-size: 0.7rem;
                                    }
                                }

                            }
                        }

                        .hero-img-everyone {
                            right: 2rem;
                            bottom: 1rem;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* -------------------------- max-width: 465px ------------------------------------------------------------------------ */

@media screen and (max-width: 465px) {
    .header-navigation {

        menu {

            nav {

                li {
                    margin: 0 0.4rem;
                }
            }
        }
    }
}

/* -------------------------- max-width: 380px ------------------------------------------------------------------------ */

@media screen and (max-width: 380px) {
    .header-navigation {

        menu {

            nav {

                li {

                    a {
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }

    #hero-section {

        .hero {
            height: 200px;

            .container {
                padding: 0;

                .hero-img-box {

                    .hero-wrapper-text {
                        top: 27%;

                        .container {

                            .hero-text {
                                h1 {
                                    span {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                        }
                    }

                    .hero-img-smoke {
                        top: -1%;
                    }

                    .hero-img-cup {
                        bottom: 3%;

                        img {}
                    }

                    .hero-img-shadow {
                        bottom: 8.5%;

                        img {}
                    }

                    .hero-wrapper-farmer {
                        top: 30%;
                        right: 41%;

                        .container {

                            .hero-box-famer {

                                .hero-text-famer {
                                    width: 6rem;
                                    padding-right: 1.5rem;


                                    h2 {
                                        font-size: 0.4rem;
                                    }

                                    p {
                                        font-size: 0.3rem;
                                    }
                                }

                            }
                        }

                        .hero-img-famer {
                            right: 1rem;
                            top: -1rem;

                            img {
                                width: 50%;
                            }
                        }
                    }

                    .hero-wrapper-nature {
                        top: 14%;
                        left: 65%;

                        .container {

                            .hero-box-nature {

                                .hero-text-nature {
                                    width: 5.5rem;
                                    padding-left: 1.5rem;

                                    h2 {
                                        font-size: 0.4rem;
                                    }

                                    p {
                                        font-size: 0.3rem;
                                    }
                                }
                            }
                        }

                        .hero-img-nature {
                            right: 6rem;
                            top: -0.5rem;

                            img {
                                width: 40%;
                            }
                        }
                    }

                    .hero-wrapper-planet {
                        bottom: 20%;
                        left: 70%;

                        .container {

                            .hero-box-planet {

                                .hero-text-planet {
                                    width: 5rem;
                                    padding-left: 1.5rem;

                                    h2 {
                                        font-size: 0.4rem;
                                    }

                                    p {
                                        font-size: 0.3rem;
                                    }
                                }

                            }
                        }

                        .hero-img-planet {
                            right: 5.5rem;
                            bottom: 1.5rem;

                            img {
                                width: 40%;
                            }
                        }
                    }

                    .hero-wrapper-everyone {
                        bottom: 31%;
                        right: 46%;

                        .container {

                            .hero-box-everyone {

                                .hero-text-everyone {
                                    width: 6rem;
                                    padding: 0 1rem;

                                    h2 {
                                        font-size: 0.4rem;
                                    }

                                    p {
                                        font-size: 0.3rem;
                                    }
                                }

                            }
                        }

                        .hero-img-everyone {
                            right: 0.7rem;
                            bottom: 1.7rem;

                            img {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    #featured-section {

        .container {

            .feature-header-box {

                .feature-header-text {
                    h2 {
                        font-size: 0.7rem;
                    }
                }
            }

            .feature-btn-box {
                margin-top: 1rem;

                .product-box {

                    .product-btn {

                        .product-btn-img {

                            img {
                                width: 50%;
                                margin-right: 0.7rem;
                            }
                        }

                        .product-btn-text {

                            a {
                                font-size: 0.5rem;
                            }
                        }
                    }
                }

                .banquet-box {

                    .banquet-btn {

                        .banquet-btn-img {

                            img {
                                width: 50%;
                                margin-right: 0.7rem;
                            }
                        }

                        .banquet-btn-text {

                            a {
                                font-size: 0.5rem;
                            }
                        }
                    }
                }

                .join-us-box {

                    .join-us-btn {

                        .join-us-btn-img {

                            img {
                                width: 50%;
                                margin-right: 0.2rem;
                            }
                        }

                        .join-us-btn-text {

                            a {
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .back-to-top {
        bottom: 0.5rem;
        right: 0.5rem;

        .container {

            .back-to-top-box {

                button {

                    .btn {
                        font-size: 0.4rem;
                        width: 4.5rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}