/* Import Fonts  */

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);


/* ========================
 RESET & DEFAULTS
 ======================== */

    /* Universal Selector & Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================
 TYPOGRAPHY
 ======================== */

    /* Element Selectors */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
    background-color: white;
}

h1 {
    color: black;
    font-size: 32px;
}

h2 {
    color: darkgreen;
    font-size: 24px;
}

h3 {
    color: dimgray;
    font-size: 19px;
}

h4 {
    color: grey;
    font-size: 16px;
}

p {
    line-height: 1.8;
}

a {
    color: darkgreen;
    text-decoration: none;
}

menu {
    transition: all 0.3s ease;
}

button {
    transition: all 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========================
 LAYOUT & CONTAINERS
 ======================== */

    /* Class Selectors */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 5vw;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* text-shadow: 2px 2px 4px greenyellow; */
    padding: 60px 20px;
    color: white;
    font-size: 2rem;
    background-image: linear-gradient(#043915, #B0CE88);
}

.card {
    display: flex;
    transition: all 0.3s ease;
    width: 30%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);

}

.btn {
    display: inline-flex;
    padding: 1rem;
    transition: all 0.3s ease;
}

.section {
    margin: 1rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

    /* ID Selector */

#header {

}

#footer {

}

    /* Pseudo-class */

a:hover {
    color: darkolivegreen;
    text-decoration: underline;
}

menu:hover, button:hover, .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

li:first-child {
    margin-top: 1rem;
}

li:last-child { 
    margin-bottom: 1rem; 
}

li:nth-child(odd) {
    background-color: gainsboro;
}

/* ========================
 COMPONENTS (HEADER, NAV, CARD, etc.)
 ======================== */

header {
    text-transform: uppercase;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 0;
}

nav {
    padding: 15px 20px;
    margin: 1rem;
}

footer {
    padding: 30px 20px;
    margin-top: 1rem;
    background-color: #043915;
}


/* ========================
 RESPONSIVE / MEDIA QUERIES
 ======================== */


